.project {
    border: gray solid 2px;
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.project-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-description {
    position: absolute;
    left: 0px;
    top: 100%;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    color: white;

    transition: top 0.35s;
}

.project-description a {
    color: hsl(198, 97%, 53%);
}

.project-description a:visited {
    color: hsl(231, 75%, 70%);
}

.project-description h2 {
    margin-top: 5px;
    margin-left: 5px;
}

.project-description > ul {
    padding-left: 30px;
}

.project-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 6px !important;
}

.project-description[data-hover='true'] {
    top: 0px;
}
