.card {
    padding: 10px;

    border: 2px solid black;
    border-radius: 20px;
}

.card * {
    margin: 0px;
}

.card#about {
    display: flex;
    gap: 20px;
}

@media (max-width: 470px) {
    .card#about {
        flex-direction: column;
    }
}

#links {
    display: flex;
    gap: 10px;
}
