#dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    position: relative;
    z-index: 1;

    height: calc(100% - 20px);

    pointer-events: none;
}

#dashboard a, #dashboard button {
    pointer-events: all;
}

#dashboard a {
    display: inline-block;
}

.card {
    border: 2px solid black;
    border-radius: 10px;

    padding: 5px 10px;

    backdrop-filter: blur(4px);
}

.card * {
    margin: 0px;
}

#links {
    display: flex;
    gap: 10px;
}

#projects {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
}

#skills {
    grid-row-start: 2;
    grid-row-end: 4;
}

#projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#awards {
    grid-row-start: 1;
    grid-row-end: 3;
}

#awards-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
